<!DOCTYPE html>
<html>
  <%- include('./partials/head')%>
  <body>
    <h1>Mongoose Flights</h1>

    <form  action="/" method="POST">
      <label>Airline</label>
      <select  class = 'form-control' type='text' name = 'airline'>
        <option value="AA">American Airlines</option>
        <option value="Delta">Delta</option>
        <option value="Spirit">Spirit</option>
        <option value="Southwest">Southwest</option>
      </select>
      <label>Airport</label>
      <select class='form-control' type='text' name='airport'>
      <option value="JFK">JFK</option>
      <option value="IAD">IAD</option>
      <option value="ATL">ATL</option>
      <option value="LAX">LAX</option>
      </select>
      <label>Flight Number</label>
      <input class = 'form-control' type='number' name = 'flightNo'/>
      <label>Departs</label>
      <input class = 'form-control' type='date' name = 'departs'/>
      <input class='btn btn-success' type='submit' value = 'Submit'/>
    </form>
    <%- include('./partials/footer')%>
  </body>
</html>
